.mkt-box h4{
    font-size: 1.7rem;
    font-weight: bold;
}
.mkt-box p{
    line-height: 4vh;
}
.text-red{
    color: red;
    font-weight: bold;
}
.form {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff8f4;
}

form {
    width: 60%;
    display: flex;
    flex-direction: column;
}

form>label {
    font-size: 1.5rem;
}

form>input {
    height: 5vh;
    border-radius: 20px;
    padding-left: 2%;    
    margin: 1vh 0 5vh 0;
}

#mensagem {
    height: 12vh;
    border: 2px solid black;
    border-radius: 20px;
    padding: 2%;
}

.form-btn {
    width: 40%;
    height: 8vh;
    align-self: center;
    background-color: #bb826d;
    border: 0.5px solid black;
    border-radius: 10px;
    font-size: larger;
    font-weight: bold;
    margin-top: 5%;

    &:hover {
        transition: 0.3s ease;
        background-color: #500a0a;
        color: black;
    }
}
.dados-enviados{
    width: 50%;
    height: auto;
   
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px; 
    padding:5% ;
    background-color: #500a0a;
}
.dados-enviados h2{
    text-align: center;
}
.display-flex-center{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.margem{
    margin: 5% 0;
}
@media (min-width:300px) and (max-width:800px) {
    form {
        width: 100%;
    }
    .dados-enviados {
        width: 100%;
    }
}